@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
/*
font-family: "Source Sans 3", sans-serif;

Fuente guardada
@font-face {
font-family: fuente_nueva;
src: url("");
*/
html {
    font-size: 16px;
}
body {
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 4vw;
    background: #333;
    color: #fff;
    padding: 0.625rem 1.25rem;
    display: flex;
    align-items: center;
}
.nav-hamb{
    width: 100%;
    margin: 0 auto;
    padding: 16px;
}
nav{
    display: flex;
    justify-content: right;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    gap:20px;
    background: #636262;
    border-radius: 10px;
    padding: 0.5vw;
}
nav #toggle , nav label{
    display:none;
}

nav div ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.125rem;
    margin: 0 1vw;
}
.logo_menu h1 {
    text-shadow: 2px 2px 5px black;
    font-size: 1.875rem;
}
.hero {
    width: 100%;
    height: 70vh;
    position: relative;
    text-align: center;
    color: white;
    background-image: url(../assets/imagen.jpg);
    background-position: center center;
    background-size: cover;
}
.hero h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.8125rem;
}
.hero h2 {
    width: 80%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    border-radius: .625rem;
    padding: 20px;
    font-size: 1.25rem;
}
.nuestros_pilares {
    background-color: lightblue;
    background-image: url(../assets/imagen2.png);
    background-position: center center;
    display: flex;
    width: 100%; /* Ajusta el tamaño según sea necesario */
    height: 31.25rem;
    justify-content: center;
    align-items: center;
}
.nuestros_pilares h1{
    text-align: center;
    justify-content: center;
    font-size: 3.125rem;
    color: #fff;
    margin-bottom: 12.5rem;
    background: rgba(0, 0, 0, 0.808);
    padding: 10px 10px;
    border-radius: 50px;
}

.button {
    font-size: 1.5rem;
    background-color: #007BFF;
    position: absolute;
    color: white;
    padding: 13px 23px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.523);
    display: block;
    margin-bottom: -10rem;
}

.capacitacion {
    width: 100%;
    height: 43.75rem;
    background-color: #9cd3b9;
}
.capacitacion h1 {
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 100px;

}

.flexibilidad {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    position:relative;
    bottom: -20rem;
}
.icon {
    border: .1rem solid #141212;
    padding: .625rem 1.25rem;
    background-color: #cccccc;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.523);
    
}

.modelos {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/fondo-progr.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
}
.modelos h1{
    font-size: 2.1875rem;
    padding: 20px;
    background-color: #cccccc83;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: 120px;
}
.modelos h2 {
    font-size: 3.125rem;
    padding:20px;
    background-color: #cccccc83;
    border-radius: 20px;
}
.videos {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.25rem;
}
.videos div {
    background-color: #a0d4e0;
    padding: 1.875rem;
    border-radius: .625rem;
    text-align: center;
    margin: 20px 20px;
}
.videos div h3 {
    background-color: rgb(2, 9, 48);
    color: #e2dfdf;
}
.videos div li{
    font-style: oblique;
}
.section_catalogo {
    width: 100%;
    height: 31.25rem;
    background-color: #8d9ff1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section_catalogo h2 {
    font-size: 3.125rem;
    padding: 1%;
}
.section_catalogo h1{
    font-size: 2.1875rem;
    padding: 1%;
}
.button2 {
    font-size: 1.5rem;
    background-color: #007BFF;
    color: white;
    padding: 13px 23px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.523);
    margin: 1.25rem;
}
.section_partners {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #141212;
}
.partner-block {
    margin: 3.5vh;
    padding: 2vh;
    background-color: lightblue;
    text-align: center;
    font-size: 1.25rem;
    box-shadow: 0 0 10px 5px;
    border-radius: 1.875rem;
    display: grid;
    grid-row: 2fr 1fr;
}

.partner-block div img{
    width: 12.5rem;
    height: 12.5rem;
    object-fit: contain;
    border-radius: 1.875rem;
    grid-row: 1/2;
    align-items: center;
}
.partner-block p {
    font-weight: 700;
    font-style: italic ;

}
.fotos{
    width: 100%;
    height: 37.5rem;
    background-color: #b8c4d1;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "foto1 foto1 foto1 foto2 foto2"
    "foto1 foto1 foto1 foto2 foto2"
    "foto3 foto4 foto4 foto4 foto4"
    "foto3 foto4 foto4 foto4 foto4";
    gap: 1rem;
    padding: 1rem;
}
.fotos div {
    width:100%;
}
.img1{
    background-image: url(../assets/Imagen-3personas.jpg);
    background-size:cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-position-y: center;
    grid-area: foto1;

}
.img2 {
    background-image: url(../assets/imagen-mujer.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    grid-area: foto2;
}
.img3{
    background-image: url(../assets/imagen-hombre.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    grid-area: foto3;
}
.img4{
    background-image: url(../assets/Imagen-2hombres.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0px -150px;
    background-position-x: center;
    background-position-y: center;
    grid-area: foto4;
}
footer {
    width: 100%;
    height: 125vh;
    background: #922d2d;
    color: white;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(5,fr);
    grid-template-columns: repeat(4,fr);
    grid-template-areas: 
    "block1 block1 block1 block1"
    "block2 block2 block3 block3"
    "block2 block2 block3 block3"
    "block2 block2 block3 block3"
    "block4 block4 block4 block4"
    ;
}
.block1 {
    grid-area:block1 ;
    border: #333;
    border-style: solid;
    background-color: #185036;
    font-size: 3.125rem;
    justify-content: center;
}
.block2 {
    grid-area:block2 ;
    border: #333;
    border-style: solid;
}
.block3 {
    grid-area:block3 ;
    border: #333;
    border-style: solid;

}
.block4 {
    grid-area:block4 ;
    background-color: #9cd3b9;
    border: #333;
}

@media (max-width: 1024px){
    header {
        position: static;
        flex-direction: column;
        height: 13vh;
    }
    nav{
        display: flex;
        justify-content: center;
    }
    footer {
        display:flex;
        flex-direction: column;
    }
    footer div{
        height: auto;
    }
}

@media (max-width: 823px){
    header{
        width: 100%;
        height: auto;
        background: #333;
        color: #fff;
        padding: .3125rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav .menu-hamb{
        width: 100%;
        height: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul{
        width: 150px;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
        background: #636262;
        border-radius: 10px;
    }
    nav label {
        display:inline-flex;
    }
    nav #toggle:checked ~ .menu-hamb{
        height: 100%;
    }
    .hero{
        height: 100vh;

    }   
    .section_partners{
        display: flex;
        flex-direction: column;
        height: auto;
    }

}

@media (max-width: 425px){
    .hero {
        height: 120vh;
    }
    .videos div{
        padding:0px;
        justify-content: center;
        align-items: center;
        border:0;
        margin:20px 0;
        justify-items: center;
    }
    .video1 ul{
        list-style: none;
    }
    .video2 ul{
        list-style: none;
    }
    .video3 ul{
        list-style: none;
    }
    .modelos h2 {
        font-size: 2.5rem;
        padding: 0;
    }
    .modelos div {
        padding:0px;
    }
    .capacitacion h1 {
        font-size: 2.5rem;
    }
}







